<Bar 
    Breakpoint="Breakpoint.Desktop" 
    NavigationBreakpoint="Breakpoint.Tablet" 
    ThemeContrast="ThemeContrast.Dark"
    Mode="BarMode.VerticalInline" 
    CollapseMode="BarCollapseMode.Small">
    <BarBrand>
        <BarItem>
            <BarLink To="/">
                Codre Blog
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <Div Padding="Padding.Is1">
                    <PostSearch />
                </Div>
            </BarItem>
            <BarItem>
                <BarLink To="/">
                    <BarIcon IconName="IconName.Home" />
                    Home
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="post/create">
                    <BarIcon IconName="IconName.Add" />
                    Create Post
                </BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>